<div class="row">
    <div class="col-2"></div>
    <div class="col-8 my-5 p-5 border border-dark rounded">
        <p id="notice"><%= notice %></p>

        <div class="w-100 text-center">
            <img src="/formulario/logo_CIAgroec_23.png" class="img-fluid mb-5" />
        <div>

        <h2 class="mb-5 text-center fw-b">Inscripciones</h2>
        <%= render 'form', conagro: @conagro, url: at_servicios(formulario_conagro_index_path) %>

        <hr />
        <h5>PRIVACIDAD Y PROTECCIÓN DE INFORMACIÓN</h5>

        El “Comité Organizador” manifiesta que cuenta con las medidas necesarias para proteger la información y los datos personales que sean proporcionados por los participantes. Una vez que se concluyan con el registro, se enviará un correo de confirmación.
    </div>
    <div class="col-2"></div>
</div>