<h1>Editando <%= @naturalista_estadistica.titulo %></h1>

<%= render 'form', naturalista_estadistica: @naturalista_estadistica %>

<%= link_to 'Show', @naturalista_estadistica %> |
<%= link_to 'Back', naturalista_estadisticas_path %>
