<div class="alert alert-warning text-center" role="alert">
  <p class="h3 my-3">
    Credenciales equivodadas
  </p>
  <button type=button class="btn btn-lg btn-outline-secondary" onClick="window.location.reload();">Intenta de nuevo <i class="fa fa-repeat"></i></button>
</div>
