login: &login
  adapter: mysql2
  encoding: utf8mb4
  collation: utf8mb4_general_ci
  pool: 5
  username: servicios
  password: p455W0rD_b13N_D1fiC1l
  host: localhost
  port: 3306
  timeout: 5000

development:
  <<: *login
  database: servicios_development

test:
  <<: *login
  database: servicios_test

production:
  <<: *login
  database: servicios