usuarios: &usuarios
  eventos:
    user1:
    user2:
    userN:

development:
  secret_key_base:
  usuarios:
    <<: *usuarios

test:
  secret_key_base:
  usuarios:
    <<: *usuarios

production:
  secret_key_base:
  usuarios:
    <<: *usuarios

mail:
  address: "xala.lala.lal.la"
  username: "xalala"
  password: "xalala"
  bcc: "xalala@xala.la"