eventos: &eventos
  calonso:
    password: 

development:
  secret_key_base:
  eventos:
    <<: *eventos

test:
  secret_key_base: 
  eventos:
    <<: *eventos
  
production:
  secret_key_base: 
  eventos:  
    <<: *eventos