<h4 class="text-center">Novedades</h4>
<div id="carouselExampleIndicators" class="carousel slide mx-auto w-75" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <button class="m-0 p-0 border-0" onClick="window.open('https://youtu.be/YYMaFOnwIlo');">
        <img class="img-fluid" src="/media/1/inicio/images/v_pedregal_SanAngel.jpg" alt="Pedregal de San Ángel">
      </button>
    </div>
    <div class="carousel-item">
      <button class="m-0 p-0 border-0" onClick="window.open('https://www.biodiversidad.gob.mx/ecosistemas/ecosismex');">
        <img class="img-fluid" src="/media/1/inicio/images/EcosistemasMx_nov.jpg" alt="Ecosistemas de México">
      </button>
    </div>
    <div class="carousel-item">
      <button class="m-0 p-0 border-0" onClick="window.open('https://www.biodiversidad.gob.mx/especies/gfamilia');">
        <img class="img-fluid" src="/media/1/inicio/images/LaGranFamilia_nov.jpg" alt="La gran familia">
      </button>
    </div>
    <div class="carousel-item">
      <button class="m-0 p-0 border-0" onClick="window.open('https://www.biodiversidad.gob.mx/genes/centrosOrigen/proyectosCdeO');">
        <img class="img-fluid" src="/media/1/inicio/images/centrosOrigen_nov.jpg" alt="Centros de origen y diversificación">
      </button>
    </div>
  </div>
  <button class="carousel-control-prev border-0" href="#carouselExampleIndicators" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </button>
  <button class="carousel-control-next border-0" href="#carouselExampleIndicators" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </button>
</div>
<hr>
<button class="btn btn-outline-info p-0" onClick="window.location.href='/conabio/ecos-de-la-naturaleza'">
  <img class="img-fluid" src="/media/1/conabio/ecos-naturaleza/ecos-nat-logo.jpg" alt="Boletín informativo">
  <b>Boletín informativo</b>
</button>