<h3>Edita el evento</h3>

<%= render 'form', evento: @evento, url: at_servicios(calendario_evento_path) %>

<%= link_to 'Regresar a mis eventos'.html_safe, at_servicios(mis_eventos_calendario_eventos_path), class: 'btn btn-lg btn-link' %>
