<h3>Edita el evento</h3>

<%= render 'form', evento: @evento, url: calendario_evento_url %>

<%= link_to 'Regresar a mis eventos'.html_safe, mis_eventos_calendario_eventos_url, class: 'btn btn-lg btn-link' %>
