<div id="eventos-container" class="my-3">
  <form action="<%= at_servicios(mis_eventos_calendario_eventos_path) %>">
    <div class="d-flex jumbotron">
      <input id="name" type="text" class="form-control form-control-lg mx-3" placeholder="Usuario">
      <input id="passwd" type="password" class="form-control form-control-lg mx-3" placeholder="Contraseña">
      <button type="submit" class="btn btn-success btn-lg btn-block mx-5">Inicia sesión</button>
    </div>
  </form>
</div>
